<li id="kingdom-<%= summary.id %>">
    <%= link_to gravatar_for(summary.user, size: 60), summary.user %>
    <span class="name"><%= summary.name %></span>
    <span class="user"><%= link_to summary.user.name, summary.user %></span>
    <span class="gold"><%= summary.gold %>g</span>
    <span class="description"><%= summary.description %></span>
</li>